# Terraform state and lock files
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
*.tfplan
.terraform.lock.hcl
.env
__pycache__/
*.pyc
.env.*
interactive_data_do_not_commit.csv
ibkr_year_to_date.csv
scrap.md